/* header */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{margin:0; border:0; padding: 0;}
body{font-size: 14px; font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px;}

input::-webkit-placeholder{color:#9DA0A4! important; font-size: 20px; line-height: 90%;}
input::-moz-placeholder{color:#9DA0A4! important; font-size: 20px; line-height: 90%;}
input::-ms-placeholder{color:#9DA0A4! important; font-size: 20px; line-height: 90%;}
input::placeholder{color:#9DA0A4! important; font-size: 20px; line-height: 90%;}

#title{text-align: left; margin-top: 40px; padding: 0 5% 0 5%; margin-bottom: 20px;}
#title > span{font-size: 13px; letter-spacing: -1px; color: #A6ADB2;}
#title > span > span.point{color: #333333; font-weight: bold; font-size: 21px; letter-spacing: 0px; line-height: 35px;}
#title>span.line{font-size: 11px; display: block; margin-bottom: -6px; color:#777F85; letter-spacing: 0px;}
#title>span.line2{color:#777F85; font-size: 11px; letter-spacing: 0px;}

/* article */
#main{width: 100%; margin: 0 auto; text-align: center;}

#main > .textbox > form{display: block; text-align: left; padding: 0 5% 0 5%;}
	#main > .textbox > form > fieldset > legend{display: block; font-size: 9px; margin-bottom: 8px; color:#777F85;}
	
	#main > .textbox > form > fieldset > legend.foot> a{ display: block; color: #777F85; text-decoration: none; font-size: 9px;}
	#main > .textbox > form > fieldset > legend.foot{margin-top: 5px; width: 100%; text-align: right;}
	#main > .textbox > form > fieldset > input{border-bottom: 1px solid #cbcbcb; width: 100%;}
	#main > .textbox > form > fieldset > input.count{margin-top: 50px; display: block;}
	
	
#main > .main_a{padding: 60px 6% 0 6%; margin-top: 80px; letter-spacing: 0px;}
	.login_btn3{margin-bottom: 10px; padding: 12px 0 12px 0; font-weight: bold; font-size: 23px; border-radius: 4px; background-color: #7034AE; color: #ffffff;}


