/* header */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin:0; border:0; padding: 0;}
body{font-size: 14px; font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; overflow-y: scroll;}
@font-face{font-family: BMDOHYEON; src: url(../font/BMDOHYEON.ttf);}
@font-face{font-family: BMDOHYEON; src: url(../font/BMDOHYEON.otf);} 



#title{text-align: left; padding: 14px 5% 0 5%; width: 90%; height: 36px; background-color: #7034AE; position: relative;}
#title>span{color: white; width: 100%; padding: 0 0 0 60px; font-size: 20px; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic";}
#title>a>img{ position: absolute; left: 5%; top: 15px; width: 24px; z-index: 100; vertical-align:middle;} 
 
 .fl{float: left;}
 li.fl{padding: 0 0 0 5%;}
 .fr{float: right;}
 .cb{clear: both;}
/* section */

#main{width: 100%;}
/* 음료 도서 탭메뉴 */
.sub_menu{height: 100%; width: 100%;}
.sub_menu > ul{ width: 100%;}
.sub_menu > ul:after{content:""; display: block; clear: both;}
.sub_menu > ul > li{float:left; width: 50%; background-color: #560243;}
.sub_menu > ul > li.tab_on{background-color: #720359; }
.sub_menu > ul > li > a{display: block; text-align: center; padding: 9px 10px 8px; font-size: 16px; color: white; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic", sans-serif;}

/* 커피 메뉴부분 */
 .sub_wrap:after{content:""; display: block; clear: both;}
 .sub_wrap > .drink{display: block; padding-top: 10px; padding-bottom: 10px; margin-right: 5%; height: 120px; font-size: 18px; float: left;}
.drink_text{float: left; font-size: 16px; margin-top: 30px; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic", sans-serif;}
.drink_text p.name{ font-size: 20px; color: #444444;} 
.drink_text p.many{ display: block; font-size: 18px; padding-top: 20px;} 
.drink_text p.many >img{vertical-align:middle; cursor:pointer;}




a:focus{outline: none;}

/* 북마크 */
.mark>a>img{position: absolute; top:127px; right:5%; }


/* 커피 온도 선택 */
.temp{width: 90%; height: 30px; padding: 0 5%; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic", sans-serif;}
.temp:after{content:""; display: block; clear: both;}
.temp a{font-size: 16px; border-radius: 4px;}
.temp .hot{width: 100%;}
.temp .hot a{text-align: center; background-color: #bbbbbb; width: 49%; padding-top: 8px; padding-bottom: 8px; color: white; margin-right: 2%; float: left;}
.temp .ice a{text-align: center; background-color: #bbbbbb; color: white; width: 49%; padding-top: 8px; padding-bottom: 8px; float: left;}


/* 사이즈..하위메뉴 */
.main_a{padding: 0px 5% 0 5%; margin-top: 10px; letter-spacing: 0px; text-align: left; position: relative; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic", sans-serif;}
.main_a>a>.login_btn3>img{ right: 10%; position:absolute;}
.main_a_b{padding: 10px 5% 0 5%; margin-top: 10px; letter-spacing: 0px; text-align: left; font-family:BMDOHYEON, "Noto Sans KR", "Malgun Gothic", sans-serif;}
.main_r {text-align: center; margin-top: 50px;}
	.login_btn3{margin-bottom: 0px; padding: 8px 0 8px 15px; font-weight: bold; font-size: 16px; border-radius: 4px; background-color: #bbbbbb; color: #ffffff;}
	.btn_l{padding: 10px 0 10px 0; background-color: #7034AE; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic";}
	
/* footer부분 */
#nav{position: fixed; bottom: 0; left: 0; z-index: 300; width: 100%; height: 70px;} 
.main_menu{width: 100%; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd; background: #f6f6f6; text-align: center; overflow: hidden; font-size: 14px; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; height: 100%;}
.main_menu:after{content:""; display: block; clear: both;}
.main_menu li{float: left; width: 25%;}
.main_menu li a{display: block; border: none; height: 60px; color: #aec0c5;}
.main_menu li a.tab_m{border-right: 1px solid #dddddd;}

.main_menu li img{ margin:0 0 -5px 0; taransition: all 1s; }
