/* header */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin:0; border:0; padding: 0;}
body{font-size: 14px; font-family:"Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; overflow-y: scroll; background-color: #DDE7E9;}

 
input::-webkit-placeholder{color:#C5CFD0! important; font-size: 12px; line-height: 160%;}
input::-moz-placeholder{color:#C5CFD0! important; font-size: 12px; line-height: 160%;}
input::-ms-placeholder{color:#C5CFD0! important; font-size: 12px; line-height: 160%;}
input::placeholder{color:#C5CFD0! important; font-size: 12px; line-height: 160%;}



#cover{position: absolute; width: 100%; height: 180%; background-color: black; display: none;}
/* header */

#sub2{position: absolute; transition: all .4s; margin: 0 auto; text-align: center; height: 240px; background: white;  border-radius: 6px; /* top: 80px; */ top: -300px; left: 50%; margin-left: -118px; z-index: 100; border-radius: 3px; padding: 0 3%;}
#sub2 span a{display: block; font-size:16px; width: 200px; text-decoration: none; color: #666666; margin: 5px 13%; display: block;}
#sub2 .search a{border: 1px solid #cccccc; padding: 8px 1px; border-radius: 3px; margin-top:20px; width: 72%;}
#sub2 .s_area a{border: 1px solid #cccccc; padding: 8px 1px; border-radius: 3px; width:72%;}
#sub2 .cancel a{border: 1px solid #cccccc; padding: 8px 1px; border-radius: 3px; margin-top: 30px; width:72%;}
#sub2>a{display: block;}
a>img.clear{background: white; border: 0px; margin-top: 10px; margin-left: 200px; display: block;}

#title{text-align: left; position: fixed; top:0; left:0; padding: 0 2.5% 0 2.5%; width: 95%; height: 58px; background-color: #7D46B6; text-align: center; z-index:300;}
#title>a>input{background-color: #ffffff; padding: 5px 37px 5px; margin-top: 16px; width: 100%; border-radius: 3px;}
#title>a>img{position: absolute; left: 4%; top: 18.5px; width: 25px; z-index: 100;}
 
 .fl{float: left;}
 li.fl{padding: 0 5% 5% 9%;}

 .fr{float: right;}
 .cb{clear: both;}
 
 
 
/* section */
#main{width: 100%; margin: 0 auto; margin-top: 68px; font-family: "Noto Sans KR", "Malgun Gothic";}
	.list .nth{width: 95%; margin: 1em auto; background-color: white; height: 150px;}
	.list .nth a{width: 190px;}
	.list .nth p{float: left;}
	.list .nth p img{float: left; display: block;}
	.list .nth:after{content: ""; display: block; clear: both;}
	
	
	
	.list .nth .article{float: left; padding: 0.5em;}
	.list .nth span{display: block;} 
	.list .nth span.function{color: #8C9093; font-size: 12px; margin-bottom:1px;}
	.list .nth span.name{color: #555555; font-size: 20px; font-weight: bold; margin-top: 3px;}
	.list .nth span.address{color: #8C9093; font-size: 12px; margin-top: 10px; margin-bottom:15px;}
	span.address>span{display: block; line-height: 150%;}

	.list .nth .open{font-size: 12px; margin-right: 10px; color: #8C9093;}

.name, .address, .function, .count, .open{margin-left: 10px;}
.nth1, .nth2, .nth3, .nth4, .nth5, .nth6{margin-right: 1%; margin-bottom: 10px;}

a:focus{outline: none;}

/* favortie */
.log>img{position: absolute; right: 7%; top: 82px; cursor: pointer;}
.log1>img{position: absolute; right: 7%; top: 248px; cursor: pointer;}
.log2>img{position: absolute; right: 7%; top: 411px; cursor: pointer;}
.log3>img{position: absolute; right: 7%; top: 576px; cursor: pointer;}
.log4>img{position: absolute; right: 7%; top: 740px; cursor: pointer;}
.log5>img{position: absolute; right: 7%; top: 903px; cursor: pointer;}


.search{width: 50%; margin: 50px auto; text-align: center; color: #7832a0; }
.search .ser{font-weight: bold; color: white; background: #7832a0; border-radius: 50px; padding-bottom: 2px; padding-left: 2px; padding-right: 4px; padding-top: 4px;}

.search a{color: #7832a0; padding: 20px;}


/* footer부분 */

#nav{position: fixed; bottom: 0; left: 0; z-index: 300; width: 100%; height: 70px; background: url(../images/footer_bg.png) repeat;} 
.main_menu{width: 100%; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd;/*  background: #f6f6f6; */ text-align: center; overflow: hidden; font-size: 12px; font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; height: 100%;}
.main_menu:after{content:""; display: block; clear: both;}
.main_menu li{float: left; width: 25%;}
.main_menu li a{display: block; border: none; height: 70px; color: #aec0c5;}
/* 메뉴 액티브 */
.main_menu li a.tab_m{border-right: 1px solid #dddddd;}
.main_menu li a.on{color: #7832a0;}
/* 윗부분 고침 되~ */
.main_menu li img{ margin: 0px 0 -5px 0; taransition: all 1s; }