/* header */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{margin:0; border:0; padding: 0;}
body{font-size: 14px; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; overflow-y: scroll;}


#title{text-align: left; padding: 14px 5% 0 5%; width: 90%; height: 36px; background-color: #7034AE; position: relative;}
#title>span{color: white; width: 100%; padding: 0 0 0 60px; font-size: 20px; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic";}
#title>a>img{ position: absolute; left: 5%; top: 15px; width: 24px; z-index: 100; vertical-align:middle;} 
 

/* section */
#main{width: 100%; margin: 0 auto; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic";}
	.list .nth{border-bottom: 1px solid #cccccc; width: 95%; margin: 1em auto;}
	.list .nth a{width: 190px; }
	.list .nth p img{ display: block; width: 100%;}
	.list .nth:after{content: ""; display: block; clear: both;}
	
	
	
	.list .nth .article{padding: 1em;}
	.list .nth span{display: block;} 
	.list .nth span.time{color: #CCCCCC; font-size: 12px; margin-bottom: 10px;}
	.list .nth span.title{color: #555555; font-size: 18px; font-weight: bold; }

.name, .address, .function, .count, .open{margin-left: 10px;}
.nth1, .nth2, .nth3, .nth4, .nth5, .nth6{margin-right: 1%; margin-bottom: 10px;}

a:focus{outline: none;}


.search{width: 50%; margin: 50px auto; text-align: center; color: #7832a0; }
.search .ser{font-weight: bold; color: white; background: #7832a0; border-radius: 50px; padding-bottom: 2px; padding-left: 2px; padding-right: 4px; padding-top: 4px;}

.search a{color: #7832a0; padding: 20px;}


/* footer부분 */
#footer>.click{width: 100%; text-align: center; background: #CCCCCC; height: 150px; padding-top: 55px;}
#footer>.click>p{color: #EEEEEE;}
#nav{position: fixed; bottom: 0; left: 0; z-index: 300; width: 100%; height: 70px;} 
.main_menu{width: 100%; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd; background: #f6f6f6; text-align: center; overflow: hidden; font-size: 14px; font-family: BMDOHYEON, "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Arial; letter-spacing: -1px; height: 100%;}
.main_menu:after{content:""; display: block; clear: both;}
.main_menu li{float: left; width: 25%;}
#nav .main_menu li a{display: block; border: none; height: 70px; color: #aec0c5;}
#nav .main_menu li a.tab_m{border-right: 1px solid #dddddd;}
#nav .main_menu li a.on{color: #7832a0;}
.main_menu li img{ margin: 0 0 -5px 0; taransition: all 1s; }
